@{
    ViewBag.Title = "Home Page";
}

<p>
    <span class="text-warning">Создать отчёт за</span> 
    @ViewBag.Message 
    <button class="btn btn-mini btn-primary yes-button" type="button">Да!</button>
</p>

