@{
    ViewBag.Title = "Home Page";
}

<p>
    <span class="text-warning">Создать отчёт за</span> 
    @ViewBag.Message 
    <button id="addDayReportButtonId" class="btn btn-mini btn-primary yes-button">Да!</button>
</p>
<div id="reports_list"></div>

<script>
    function showItemReport(item) {
        if (item == null || item == "[ ]") {
            return 0;
        }

    }
    function getGoodFormatDate(date) {
        var currentDateTime = new Date(date);
        var year = currentDateTime.getFullYear();
        var month = currentDateTime.getMonth();
        var currentDate = currentDateTime.getDate();
        
        return currentDate + "." + month + "." + year;
    }
    
    function showReports(data) {
        var reports = JSON.parse(data);
        $("#reports_list").text("");
        $.each(reports, function(i) {
            $("#reports_list").append(
                "<table class='table table-striped'>" +
                    "<tr>" +
                        "<th>" + "Отчёт за: " + getGoodFormatDate(reports[i].DayReport.ReportDate) + "</th>" +
                    "</tr>" +
                    "<tr>" +
                        "<td>" + "Анализ событий дня: " + reports[i].EventsCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                        "<td>" + "Ключевый мысли дня: " + reports[i].IdeasCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                        "<td>" + "Решённые задачи: " + reports[i].DoneTasksCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                        "<td>" + "Бизнес идеи: " + reports[i].BusinesIdeasCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                        "<td>" + "Расходы за день: " + reports[i].ExpensesCount + "</td>" +
                    "</tr>" +

                "</table>"
            );
        });
    }
    
    function addReport() {
        var addReportUrl = "/Home/AddReport";
        var today = JSON.stringify(new Date());
        
        $.ajax({
            type: "POST",
            url: addReportUrl,
            data: { dateTimeNow: today },
            success: function (data, textStatus, jqXHR) {
                showReports(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
        
    }
    
    function getReports() {
        var getReportsUrl = "Home/GetReports";

        $.ajax({
            type: "POST",
            url: getReportsUrl,
            data: {},
            success: function (data, textStatus, jqXHR) {
                showReports(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    
    $(document).ready(function () {
        getReports();
        $("#addDayReportButtonId").click(function() {
            addReport();
        });
    });
</script>
