@{
    ViewBag.Title = "Home Page";
}

<p id="yes_button">
    <span class="text-warning">Создать отчёт за</span> 
    @ViewBag.Message 
    <button id="addDayReportButtonId" class="btn btn-mini btn-primary yes-button">Да!</button>
</p>
<div id="reports_list"></div>

<script type="text/template" class="template">
    <% _.each( rc.Reports, function(report) { %>
        <table class='table table-striped'>
            <tr>
                <th>Отчёт за: <%= getGoodFormatDate(report.DayReport.ReportDate) %></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    Анализ событий дня: <%= report.EventsCount %> 
                </td>
                <td>
                    <a class="btn btn-mini btn-primary" href=/Home/CreateEvents/<%=report.DayReport.Id %> >редактировать</a>
                </td>
            </tr>
            <tr>
                <td>
                    Ключевый мысли дня: <%= report.IdeasCount %>
                </td>
                <td>
                    <a class="btn btn-mini btn-primary" href=/Home/CreateIdeas/<%=report.DayReport.Id %> >редактировать</a>
                </td>
            </tr>
            <tr>
                <td>Решённые задачи: <%= report.DoneTasksCount %></td>
                <td>
                    <a class="btn btn-mini btn-primary" href=/Home/CreateDoneTasks/<%=report.DayReport.Id %> >редактировать</a>
                </td>
            </tr>
            <tr>
                <td>Бизнес идеи: <%= report.BusinesIdeasCount %></td>
                <td>
                    <a class="btn btn-mini btn-primary" href=/Home/CreateBusinesIdeas/<%=report.DayReport.Id %> >редактировать</a>
                </td>
            </tr>
            <tr>
                <td>Расходы за день: <%= report.ExpensesCount %></td>
                <td>
                    <a class="btn btn-mini btn-primary" href=/Home/CreateExpenses/<%=report.DayReport.Id %> >редактировать</a>
                </td>
            </tr>
        </table>
    <% }); %>
</script>

<script>
    function showReportWithUnderscoreJS(data) {
        var templateData = JSON.parse(data);
        _.templateSettings.variable = "rc";

        var template = _.template(
            $("script.template").html()
        );

        $("#yes_button").after(
            template(templateData)
        );
    }


    function getGoodFormatDate(date) {
        var currentDateTime = new Date(date);
        var year = currentDateTime.getFullYear();
        var month = currentDateTime.getMonth();
        var currentDate = currentDateTime.getDate();
        
        return currentDate + "." + month + "." + year;
    }
    
    function showReports(data) {
        var reports = JSON.parse(data);
        $("#reports_list").text("");
        $.each(reports.Reports, function (i) {
            $("#reports_list").append(
                "<table class='table table-striped'>" +
                    "<tr>" +
                    "<th>" + "Отчёт за: " + getGoodFormatDate(reports.Reports[i].DayReport.ReportDate) + "</th>" +
                    "</tr>" +
                    "<tr>" +
                    "<td>" + "Анализ событий дня: " + reports.Reports[i].EventsCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td>" + "Ключевый мысли дня: " + reports.Reports[i].IdeasCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td>" + "Решённые задачи: " + reports.Reports[i].DoneTasksCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td>" + "Бизнес идеи: " + reports.Reports[i].BusinesIdeasCount + "</td>" +
                    "</tr>" +
                    "<tr>" +
                    "<td>" + "Расходы за день: " + reports.Reports[i].ExpensesCount + "</td>" +
                    "</tr>" +

                    "</table>"
            );
        });
    }
    
    function addReport() {
        var addReportUrl = "/Home/AddReport";
        var today = JSON.stringify(new Date());
        
        $.ajax({
            type: "POST",
            url: addReportUrl,
            data: { dateTimeNow: today },
            success: function (data, textStatus, jqXHR) {
                //showReports(data);
                showReportWithUnderscoreJS(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
        
    }
    
    function getReports() {
        var getReportsUrl = "Home/GetReports";

        $.ajax({
            type: "POST",
            url: getReportsUrl,
            data: {},
            success: function (data, textStatus, jqXHR) {
                //showReports(data);
                showReportWithUnderscoreJS(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    
    $(document).ready(function () {
        getReports();
        $("#addDayReportButtonId").click(function() {
            addReport();
        });
    });
</script>
