@{
    ViewBag.Title = "Home Page";
}

<p>
    <span class="text-warning">Создать отчёт за</span> 
    @ViewBag.Message 
    <button id="addDayReportButtonId" class="btn btn-mini btn-primary yes-button" type="button">Да!</button>
</p>
<ul id="reports_list"></ul>

<script>
    function showReports(data) {
        var reports = JSON.parse(data);
        $("#reports_list").text("");
        $.each(reports, function(i) {
            $("#reports_list").append("<li>" + reports[i].ReportDate + "</li>");
        });
    }
    function addReport() {
        var addReportUrl = "/Home/AddReport";
        var today = JSON.stringify(new Date());
        
        $.ajax({
            type: "POST",
            url: addReportUrl,
            data: { dateTimeNow: today },
            success: function (data, textStatus, jqXHR) {
                showReports(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
        
    }
    $(document).ready(function () {
        $("#addDayReportButtonId").click(function() {
            addReport();
        });
    });
</script>
